<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AIUB_CMS.Login.Properties.Settings.AIUB_CMS_DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-4P3FJHN;Initial Catalog=&quot;AIUB-CMS Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>